.blue-bg {
  background: blue;
  padding: 15px;
  margin-bottom: 40px;
}
.capitalize {
  text-transform: uppercase;
}
.italics {
  font-style: italic;
}
.underlined {
  text-decoration: underline;
}
.float-right {
  float: right;
}
.clearfix {
  clear: both;
}
.text-center {
  text-align: center;
}