body {
  margin-bottom: 50px;
  background-color: #fafafa;
}
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}
.oswald {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar {
  border: none;
  background: #f0f1f4;
}
.navbar-toggle {
  float: left;
  border: none;
}
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
  background: #f0f1f4;
}
#main-col {
  margin-left: 240px;
  overflow: hidden;
}

#sidebar li {
  border: 0 #f2f2f2 solid;
  border-bottom-width: 1px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas-left {
    position: relative;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -240px;
  }
  .row-offcanvas-left.active {
    left: 0;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 240px;
  }
  #sidebar {
    padding-top:0;
  }
  #main-col {
    margin-left: 0;
    padding: 0 20px;
  }
  .row-offcanvas #main-col {
    margin-left: 0px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .row-offcanvas #sidebar {
    margin-left: 0px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .row-offcanvas.active #main-col {
    margin-left: 240px;
  }
  .row-offcanvas.active #sidebar {
    width: 240px;
    margin-left: 240px;
  }
}

@media screen and (min-width: 768px) {
  #sidebar {
    height: 100%;
    padding-right: 0;
    padding-top: 20px;
    background: #f0f1f4;
    width: 240px;
    position: fixed;
  }
  #main-col {
    padding: 0 40px;
  }
}

.row {
  margin-bottom: 20px;
}

/* User page styles*/
.jumbotron.jumbotron-sm {
  padding: 30px;
}
.cliente-info .field--label {
  min-width: 6em;
}
.field--name-field-notas .field--item {
  margin-bottom: 20px;
  position: relative;
  padding: 1em 1.5em;
  color: #fff;
  background: #97C02F;
  overflow: hidden;
}
.field--name-field-notas .field--item:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #fff #fff #658E15 #658E15;
  background: #658E15;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  /* Firefox 3.0 damage limitation */
  display: block; width: 0;
}
/* End of user page styles*/


.progress-bar-max-value {
  position: absolute;
  right: 15px;
  color: black;
}
.progress.progress-large {
  height: 30px;
}
.progress-large .progress-bar {
  line-height: 30px;
  font-size: 16px;
}
.path-frontpage .region-content {
  margin-top: 100px;
}
.region-content .block {
  border: 1px solid rgba(112, 112, 112, 0.12);
  background: white;
  border-radius: .25rem;
  margin-bottom: 20px;
  padding: 10px 20px;
}