body {
  margin-bottom: 50px;
  margin-top: 0;
  background-color: #fafafa;
}
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}
.oswald {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
}
h1, .h1 {
  font-size: 30px;
}
h2, .h2 {
  font-size: 26px;
}
h3, .h3 {
  font-size: 22px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.tematica-table .table {
  margin-bottom: 5px;
}
.logo .center-block {
  max-width: 160px;
}
.dashboard-heading {
  padding-left: 15px;
}
.navbar {
  border: none;
  background: #f0f1f4;
}
.navbar-toggle {
  float: left;
  border: none;
}
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
  background: #f0f1f4;
}
#main-col {
  margin-left: 240px;
  overflow: hidden;
}
#sidebar li {
  border: 0 #f2f2f2 solid;
  border-bottom-width: 1px;
}
#sidebar .nav a {
  padding: 17px 25px;
  color: #707070;
}
#sidebar .active a {
  color: #1d1e3a;
}

.btn-default {
  color: white;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.panel-body .field {
  margin-bottom: 15px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas-left {
    position: relative;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -240px;
  }
  .row-offcanvas-left.active {
    left: 0;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 240px;
  }
  #sidebar {
    padding-top:0;
  }
  #main-col {
    margin-left: 0;
    padding: 0 20px;
  }
  .row-offcanvas #main-col {
    margin-left: 0px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .row-offcanvas #sidebar {
    margin-left: 0px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .row-offcanvas.active #main-col {
    margin-left: 240px;
  }
  .row-offcanvas.active #sidebar {
    width: 240px;
    margin-left: 240px;
  }
}

@media screen and (min-width: 768px) {
  #sidebar {
    height: 100%;
    padding-right: 0;
    padding-top: 20px;
    background: #f0f1f4;
    width: 240px;
    position: fixed;
  }
  #main-col {
    padding: 20px 40px 0;
  }
}

.row {
  margin-bottom: 20px;
}
.ui-datepicker,
#ui-datepicker-div {
  z-index: 10 !important;
}

/* User page styles*/
.jumbotron.jumbotron-sm {
  padding: 30px;
}
.cliente-info .field--label {
  min-width: 6em;
}
.field--name-field-notas .field--item {
  margin-bottom: 20px;
  position: relative;
  padding: 1em 1.5em;
  color: #fff;
  background: #97C02F;
  overflow: hidden;
}
.field--name-field-notas .field--item:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #fff #fff #658E15 #658E15;
  background: #658E15;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  /* Firefox 3.0 damage limitation */
  display: block; width: 0;
}
#new-nota .form-item-nota {
  margin-bottom: 20px;
}
/* End of user page styles*/


.progress {
  background: #ddd;
}
.progress-bar-max-value {
  position: absolute;
  right: 15px;
  color: black;
}
.progress.progress-large {
  height: 30px;
}
.progress-large .progress-bar {
  line-height: 30px;
  font-size: 16px;
}
.path-frontpage .region-content,
.path-user-password .region-content {
  margin-top: 100px;
}
.region-content .block {
  border: 1px solid rgba(112, 112, 112, 0.12);
  background: white;
  border-radius: .25rem;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.form-item-field-user-estado-de-captacion-target-id,
.form-item-field-user-estado-de-captacion-target-id .control-label,
.form-item-field-user-estado-de-captacion-target-id select {
  margin-bottom: 10px;
  padding: 20px;
}
.form-inline .form-item-items-per-page {
  margin-bottom: 10px;
  display: block;
}

/* Styles for propuesta full node view, not pdf view mode! */
.page-node-type-propuesta .region-content {
  background: white;
}
.blue-bg {
  background: blue;
  padding: 15px;
  margin-bottom: 40px;
}
.white {
  color: white;
}
.capitalize {
  text-transform: uppercase;
}
.italics {
  font-style: italic;
}
.underlined {
  text-decoration: underline;
}
.margin-top {
  margin-top: 20px;
}

.modal-dialog {
  /*Sets the width to 80/100ths of the viewport.*/
  width: 80vw;
}

.edit-captadores .form-type-checkbox,
.form-in-modal .form-type-checkbox {
  float: left;
  width: 275px;
  margin-top: 0;
}

@media screen and (min-width: 992px) {
  .carbray-new-client .form-item,
  .carbray-new-expediente .form-item,
  .new-propuesta .form-item {
    width: 40%;
  }
  .new-propuesta .js-text-format-wrapper,
  .new-propuesta .js-text-format-wrapper .form-type-textarea {
    width: auto;
  }
  .carbray-new-client .form-item.fieldgroup,
  .new-propuesta .form-item.fieldgroup,
  .carbray-new-expediente .form-item.fieldgroup {
    width: 78%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    margin-top: 25px;
    margin-bottom: 20px;
  }
  #servicios-wrapper {
    margin-bottom: 20px;
  }
  .carbray-new-client .fieldgroup .form-checkboxes,
  .new-propuesta .fieldgroup .form-checkboxes,
  .carbray-new-expediente .fieldgroup .form-checkboxes {
    padding: 0 10px;
  }
  #edit-captador--wrapper legend,
  #edit-equipo--wrapper legend,
  #edit-responsable--wrapper legend {
    border: none;
    margin-bottom: 10px;
  }
  #edit-captador--wrapper .fieldset-legend,
  #edit-equipo--wrapper .fieldset-legend,
  #edit-responsable--wrapper .fieldset-legend {
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: bold;
    position: relative;
    top: -15px;
  }
  .carbray-new-client .form-checkboxes .form-item,
  .new-propuesta .form-checkboxes .form-item,
  .carbray-new-expediente .form-type-checkbox {
    float: left;
    margin: 0 20px 20px 0;
    width: 210px;
  }

  .carbray-new-objetivo .form-inline {
    margin-bottom: 10px;
  }

  .carbray-new-objetivo .form-type-entity-autocomplete,
  .carbray-new-objetivo .select-wrapper {
    width: 40%;
    display: block;
  }

  #block-views-block-clientes-por-fase-block-4 .form-inline .form-group,
  #block-views-block-clientes-por-fase-block-5 .form-inline .form-group {
    display: block;
    margin-bottom: 10px;
  }

  #block-views-block-clientes-por-fase-block-4 .form-inline .control-label,
  #block-views-block-clientes-por-fase-block-5 .form-inline .control-label {
    width: 120px;
  }
  #block-views-block-clientes-por-fase-block-5 .form-item-field-user-estado-de-captacion-target-id .select-wrapper {
    width: 100%;
    display: inline;
  }

  #block-views-block-clientes-por-fase-block-5 .form-item-field-user-estado-de-captacion-target-id .form-select {
    width: 240px;
  }
}

.form-in-modal .form-type-checkbox {
  width: 235px;
}
.form-in-modal .form-item.fieldgroup {
  width: auto;
}
