body {
  margin-bottom: 50px;
  margin-top: 0;
  background-color: #fafafa;
}
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}
.oswald {
  font-family: 'Oswald';
  src: url('../fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
}
h1, .h1 {
  font-size: 30px;
}
h2, .h2 {
  font-size: 26px;
}
h3, .h3 {
  font-size: 22px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.no-margin {
  margin: 0 !important;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-20 {
  margin-left: 20px;
}
.margin-right-10 {
  margin-left: 10px;
}
.margin-right-20 {
  margin-left: 20px;
}
.vertical-align {
  display: flex;
  align-items: center;
}
.block-title,
.panel-heading {
  text-shadow: 1px 1px 0px black;
}
.btn {
  color: white;
  text-shadow: 1px 1px 0px black;
  font-family: 'Oswald';
  letter-spacing: 0.5px;
}
.btn:hover {
  color: white;
}
.panel-default > .grey,
.btn.grey {
  background: #777777;

}
.panel-default > .blue,
.btn.blue {
  background: #5D879E;
}
.panel-default > .dark-blue,
.btn.dark-blue {
  background: #2A3E46;
}
.panel-default > .green,
.btn.green {
  background: #859D56;
}
.panel-default > .red,
.btn.red {
  background: #763332;
}
.tematica-table .table {
  margin-bottom: 5px;
}
.btn-primary {
  background: #777777;
  border: none;
}
.logo {
  display: block;
  margin-top: 75px;
}
.logo .center-block {
  max-width: 160px;
}
.dashboard-heading {
  padding-left: 15px;
}
.filter-wrapper {
  display: none;
}
#navbar {
  display: none;
}
.navbar-toggle {
  float: left;
  border: none;
}
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
  background: #f0f1f4;
}
#main-col {
  margin-left: 240px;
  overflow: hidden;
}
#sidebar li {
  border: 0 #f2f2f2 solid;
  border-bottom-width: 1px;
}
#sidebar .nav a {
  padding: 17px 25px;
  color: #707070;
}
#sidebar .active a {
  color: #1d1e3a;
}

.btn-default {
  color: white;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.panel-default > .panel-heading {
  color: white;
}
.panel-heading .btn {
  position: relative;
  top: 5px;
}
.panel-body .field {
  margin-bottom: 15px;
}

.block-worker-info {
  padding: 0 20px 25px;
  color: white;
  margin-bottom: 10px;
}
.worker-info-container {
  padding: 10px 25px 25px;
  border-bottom: 2px solid white;
}
.new-factura .form-inline .form-control {
  display: block;
}

/*Hides primary tabs; internal workers have the right to view unpublished content by permission 'bypass content rules...', and this makes view/edit tabs visible!*/
.tabs--primary {
  display: none;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas-left {
    position: relative;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -240px;
  }
  .row-offcanvas-left.active {
    left: 0;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 240px;
  }
  #sidebar {
    padding-top:0;
  }
  #main-col {
    margin-left: 0;
    padding: 0 20px;
  }
  .row-offcanvas #main-col {
    margin-left: 0px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .row-offcanvas #sidebar {
    margin-left: 0px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .row-offcanvas.active #main-col {
    margin-left: 240px;
  }
  .row-offcanvas.active #sidebar {
    width: 240px;
    margin-left: 240px;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    border: none;
    background: none;
    display: none;
  }

  .dashboard-heading {
    display: none
  }

  #sidebar {
    height: 100%;
    padding-right: 0;
    padding-top: 0;
    background: #2d2d2d;
    width: 240px;
    position: fixed;
    overflow-y: auto;
    box-shadow: 0 0 10px #1d1d1d;
  }

  #main-col {
    padding: 20px 40px 0;
    background: #f7f8fa;
  }

  #sidebar .nav a {
    padding: 17px 25px;
    color: #c5c5c5;
    font-weight: 500;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #ffffff !important;
    font-weight: 700 !important;
  }

  #sidebar .nav li.active {
    text-decoration: none;
    background-color: none;
    color: #23527c !important;
    font-weight: 700;
  }

  #sidebar .nav li.active a {

    color: #FFFFFF !important;
    font-weight: 700;
  }

  #sidebar .active a:after {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #2d2d2d transparent transparent content : "";
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 0px;
  }

  #sidebar li {
    border: none;
  }

  .glyphicon {
    padding-right: 7%;
  }

  /********Estilos Nuevo Cliente Inputs ********/
  .carbray-new-client {
    border: none;
    box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.12);
  }

  .carbray-new-client  .form-item .form-required:after {
    content: "(obligatorio)";
    padding-left: 5px;
    background: none;
  }

  .carbray-new-client .form-item-nombre {
    float: left;
  }

  .carbray-new-client .form-item-apellido {
    float: left;
    margin-left: 3%;
  }

  .carbray-new-client .form-item-email {
    float: left;
  }

  .carbray-new-client .form-item-telefono {
    float: left;
    margin-left: 3%;
  }

  .carbray-new-client .form-item-pais {
    float: left;
  }
  .carbray-new-client .form-item-persona {
    float: left;
    margin-left: 3%;
  }

  .carbray-new-client .form-item-procedencia {
    float: left;
  }

  .carbray-new-client #edit-captador--wrapper {
    width: 100%;
    border: none;
    -webkit-box-shadow: none;
  }

  #edit-nota-container {
    clear: both;
  }
}

/***********************************/
/********ESTILOS BUSCADOR********/
#search-users .form-type-textfield.form-item-uid {
  float: left;
  width: 88%;
  margin-right: 20px;
}

#block-searchusers {
  border: none;
  background: none;
}

#search-users .btn {
  display: none;
}
.log-out-link {
  position: relative;
  top: 8px;
  font-size: 16px;
}

/***************************************/
/*************ESTILOS HOME************/
#block-clientescaptacion {
  background: white;
  border-top: none;
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0%;
  box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.12);
}

#block-clientescaptacion .block-title,
#block-facturasdemisclientes .block-title {
  background: #828282;
  margin-top: 0px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  padding-top: 1%;
  color: white;
}
#block-facturasdemisclientes .block-title {
  background: white;
  border-top: none;
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0%;
  box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.12);
}

#block-facturasdemisclientes .table-responsive {
  padding-left: 2%;
  padding-right: 2%;
}
#block-facturasdemisclientes h2 {
  background: #239a3e;
  margin-top: 0px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  padding-top: 1%;
  color: white;
}

#block-clientescaptacion .table-responsive {
  padding-left: 2%;
  padding-right: 2%;
}

#block-clientescaptacion a.btn {
  background: #4f8edc;
  border-color: none;
  transition: 0.5s;
}

#block-clientescaptacion a.btn:hover {
  background: #4172af;
  border-color: none;
  transition: 0.5s;
}

#block-clientesproduccion,
#block-facturasdemisclientes {
  border-top: none;
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0%;
  box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.12);
}

#block-clientesproduccion .block-title {
  background: #145d82;
  margin-top: 0px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  padding-top: 1%;
  color: white;
}

#block-clientesproduccion .table-responsive {
  padding-left: 2%;
  padding-right: 2%;
}

#block-clientesproduccion a.btn {
  background: #4f8edc;
  border-color: #4f8edc;
  transition: 0.5s;
}

#block-clientesproduccion a.btn:hover {
  background: #4172af;
  border-color: #4172af;
  transition: 0.5s;
}

table tr td {
  vertical-align: inherit !important;
}

.row {
  margin-bottom: 20px;
}
.ui-datepicker,
#ui-datepicker-div {
  z-index: 10 !important;
}

/* User page styles*/
.jumbotron.jumbotron-sm {
  padding: 30px;
}
.cliente-info .field--label {
  min-width: 6em;
}
.field--name-field-notas .field--item {
  margin-bottom: 20px;
  position: relative;
  padding: 1em 1.5em;
  color: #fff;
  background: #97C02F;
  overflow: hidden;
}
.field--name-field-notas .field--item:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #fff #fff #658E15 #658E15;
  background: #658E15;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Firefox 3.0 damage limitation */
  display: block;
  width: 0;
}

#new-nota .form-item-nota {
  margin-bottom: 20px;
}
/* End of user page styles*/


.progress {
  background: #ddd;
}
.progress-bar-max-value {
  position: absolute;
  right: 15px;
  color: black;
}
.progress.progress-large {
  height: 30px;
}
.progress-large .progress-bar {
  line-height: 30px;
  font-size: 16px;
}
.path-frontpage .region-content,
.path-user-password .region-content {
  margin-top: 100px;
}
#main-col .block {
  border: 1px solid rgba(112, 112, 112, 0.12);
  background: white;
  border-radius: .25rem;
  margin-bottom: 20px;
  padding: 10px 20px;
}
#main-col .block.search-users {
  border: none;
  background: transparent;
}
#main-col .block.block-clientes-captacion,
#main-col .block.block-clientes-produccion {
  padding: 0;
}

.no-borders > tbody > tr > td {
  border: none;
}

.form-item-field-user-estado-de-captacion-target-id,
.form-item-field-user-estado-de-captacion-target-id .control-label,
.form-item-field-user-estado-de-captacion-target-id select {
  margin-bottom: 10px;
  padding: 20px;
}
.form-inline .form-item-items-per-page {
  margin-bottom: 10px;
  display: block;
}

/* Styles for propuesta full node view, not pdf view mode! */
.page-node-type-propuesta .region-content {
  background: white;
}
.blue-bg {
  background: blue;
  padding: 15px;
  margin-bottom: 40px;
}
.white {
  color: white;
}
.capitalize {
  text-transform: uppercase;
}
.italics {
  font-style: italic;
}
.underlined {
  text-decoration: underline;
}
.margin-top {
  margin-top: 20px;
}

.modal-dialog {
  /*Sets the width to 80/100ths of the viewport.*/
  width: 80vw;
}

.edit-captadores .form-type-checkbox,
.form-in-modal .form-type-checkbox {
  float: left;
  width: 275px;
  margin-top: 0;
}
.bordered {
  border: 1px solid #d1d1d1;
  padding: 20px;
}
/* Set appropriate editor heights based on the rows attribute. */
textarea[rows="3"] + .cke .cke_contents {
  height: 100px !important;
}

@media screen and (min-width: 992px) {
  .carbray-new-client .form-item,
  .carbray-new-expediente .form-item,
  .new-propuesta .form-item {
    width: 40%;
  }
  .form-item-pack .form-control {
    display: block;
  }
  .new-propuesta .js-text-format-wrapper,
  .new-propuesta .js-text-format-wrapper .form-type-textarea {
    width: auto;
  }
  .carbray-new-client .form-item.fieldgroup,
  .new-propuesta .form-item.fieldgroup,
  .carbray-new-expediente .form-item.fieldgroup {
    width: 78%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    margin-top: 25px;
    margin-bottom: 20px;
  }
  #servicios-wrapper {
    margin-bottom: 20px;
  }
  .carbray-new-client .fieldgroup .form-checkboxes,
  .new-propuesta .fieldgroup .form-checkboxes,
  .carbray-new-expediente .fieldgroup .form-checkboxes {
    padding: 0 10px;
  }
  #edit-captador--wrapper legend,
  #edit-equipo--wrapper legend,
  #edit-responsable--wrapper legend {
    border: none;
    margin-bottom: 10px;
  }
  #edit-tipo-horas--wrapper legend {
    border: none;
    margin-bottom: -15px;
  }
  #edit-captador--wrapper .fieldset-legend,
  #edit-equipo--wrapper .fieldset-legend,
  #edit-responsable--wrapper .fieldset-legend,
  #edit-tipo-horas--wrapper .fieldset-legend {
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: bold;
    position: relative;
    top: -15px;
  }
  .carbray-new-client .form-checkboxes .form-item,
  .new-propuesta .form-checkboxes .form-item,
  .carbray-new-expediente .form-type-checkbox {
    float: left;
    margin: 0 20px 20px 0;
    width: 210px;
  }

  .carbray-new-objetivo .form-inline {
    margin-bottom: 10px;
  }

  .carbray-new-objetivo .form-type-entity-autocomplete,
  .carbray-new-objetivo .select-wrapper,
  #carbray-add-expediente-hours .form-number {
    width: 40%;
    display: block;
  }

  #block-views-block-clientes-por-fase-block-4 .form-inline .form-group,
  #block-views-block-clientes-por-fase-block-5 .form-inline .form-group {
    display: block;
    margin-bottom: 10px;
  }

  #block-views-block-clientes-por-fase-block-4 .form-inline .control-label,
  #block-views-block-clientes-por-fase-block-5 .form-inline .control-label {
    width: 120px;
  }
  #block-views-block-clientes-por-fase-block-5 .form-item-field-user-estado-de-captacion-target-id .select-wrapper {
    width: 100%;
    display: inline;
  }

  #block-views-block-clientes-por-fase-block-5 .form-item-field-user-estado-de-captacion-target-id .form-select {
    width: 240px;
  }
  .carbray-new-actuacion .form-item-title {
    float: left;
    width: 50%;
  }
  .timer-container {
    position: relative;
    top: 26px;
    margin-left: 4%;
    width: 46%;
  }
  #crono {
    width: 100px;
  }
  #edit-start, #edit-pause, #edit-resume {
    margin-left: 10px;
  }
  .timer-textfield {
    width: 75px;
    margin-left: 10px;
  }
  .carbray-new-actuacion .form-type-managed-file {
    float: left;
    width: 400px;
  }
  .carbray-new-actuacion .create-actuacion {
    float: right;
    position: relative;
    top: 26px;
  }
  .node-factura-form .form-item-cliente,
  .node-factura-form .form-item-email,
  .node-factura-form .form-item-telefono {
    float: left;
    width: 32.3%;
    margin-right: 1%;
  }
  .node-factura-form .form-item-coste-fieldset-precio,
  .node-factura-form #edit-coste-fieldset-iva--wrapper,
  .node-factura-form .form-item-coste-fieldset-importe-total,
  .node-factura-form .form-item-field-factura-direccion-0-value,
  .node-factura-form .field--name-field-factura-nif {
    float: left;
    width: 32.3%;
    margin-right: 1%;
  }

  .node-factura-form .paragraphs-subform .form-group {
    float: left;
    width: 50%;
  }
  .node-factura-form .paragraph-type-title,
  .node-factura-form .field--name-field-factura-servicios .tabledrag-toggle-weight {
    display: none;
  }
  .node-factura-form .field--name-field-factura-servicios .paragraph-type-top {
    float: right;
    position: relative;
    top: 70px;
    margin-top: -40px;
    margin-right: 50px;
  }

  .node-factura-form .form-item-field-factura-provision-de-fondo-0-value .control-label,
  .node-factura-form .form-item-field-factura-precio-0-value .control-label {
    width: 15%;
  }

  .new-factura legend {
    display: none;
    border: none;
  }
  .new-factura .form-item-provision-fondos {
    clear: both;
  }
  #edit-coste-fieldset .panel-title,
  #edit-names-fieldset .panel-title {
    color: black;
    text-shadow: none;
  }
  #facturas-form .form-item-departamento-id,
  #facturas-form .form-item-captador-id {
    float: left;
    width: 33%;
    margin-right: 1%;
  }
  #facturas-form #edit-search {
    float: left;
    position: relative;
    top: 26px;
  }

}

.form-in-modal .form-type-select {
  width: 50%;
}

.form-in-modal .form-type-checkbox {
  width: 235px;
}
.form-in-modal .form-item.fieldgroup {
  width: auto;
}

.carbray-new-actuacion .filter-wrapper {
  display: none;
}

.captacion-archivada-row {
  opacity: 0.5;
}
