<h3>Expedientes de {{ client_name }}</h3>
<div class="container cliente-expedientes-container">
    {% if expedientes is not empty %}
        <ul>
        {% for key, expediente in expedientes %}
            {{ dump(expediente) }}
            <li class="container cliente-expedientes-element" >
                {{ key }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</div>